@tailwind base;
@tailwind components;
@tailwind utilities;

/* Primary Color */
:root {
    --primary-color: #020202;

  }
  
  /* Secondary Color */
  :root {
    --secondary-color: #1a1a1a;
  }
  
  /* Accent Color */
  :root {
    --accent-color: #FF6C00;
  }
  
  /* Complementary Color */
  :root {
    --complementary-color: #333333;
  }
  
  body {
    /* background-color: var(--secondary-color); */
    font-family: 'Nanum Pen Script', cursive;
  font-family: 'Roboto', sans-serif;
  
  }
  
  html {
    scroll-behavior: smooth;
  }

  h1 {
    color: var(--primary-color);
  }


  .shadow1 {
    text-shadow: 6px 3px 9px rgba(249, 15, 15, 0.4);

  }
  

  
  p {
    color: var(--secondary-color);
    font-size: 15px;
  }
  
  a {
    color: var(--accent-color);
  }

  .form1 {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .nav-selected {
   
    color: #0400ff;
    font-size: 20px; 
    text-decoration-line: overline; 
    /* font-weight: bolder;  */
  }

  .nav-hover:hover {
    color:white;
  }

  .header-nav, .footer {
 
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    align-content: center
  }

  /* .footer{
    height: 80px;
  } */
 /* .box-body {
    background-color:  #16123f;
  } */

 

  .modal1 {
    position: fixed ;
    top: 0 ;
    left: 0 ;
    width: 100% ;
    height: 100% ;
    background-color: rgba(0, 0, 0, 0.5) ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    z-index: 9999 ;
  }
  
  .modal2 {
    width: 30% ;
    max-width: 500px ;
    background-color: #fff ;
    border-radius: 8px ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3) ;
    padding: 20px ;
    text-align: center ;
  }
  
  .modal2 h3 {
    font-size: 24px ;
    margin-bottom: 20px ;
  }
  
  .modal2 p {
    font-size: 16px ;
    margin-bottom: 20px ;
  }
  
  .modal2 button {
    background-color: rgb(147 197 253) ;
    color: #fff ;
    border: none ;
    padding: 10px 20px ;
    border-radius: 4px ;
    cursor: pointer ;
    font-size: 16px ;
  }
  
  .modal2 button:hover {
    background-color: rgb(2 132 199) ;
  }

  .container {
    margin-top: 10px;
  }


  
  button[disabled] {
    opacity: 0.5; 
    cursor: not-allowed; 
    background-color: gray;
  }

 
  /* On screens that are 640px or less */
  @media screen and (max-width: 640px) {

  
    .skill-box {
      width: fit-content;
  }

  ul{
    padding: 0px;
  }

  .skill-box2 {
    display: flex;
    justify-content: center;
  ;
}

p {
  margin-left: 10px; 
  margin-right: 10px;
  text-align: justify;
}
 .form1 {
  width: 90%;
  text-align:left;
}





  }